<form method="POST" id="order-form" action="{{ path('saveContacts') }}" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <input type="text" name="firstName" class="form-control" placeholder="First Name">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <input type="text" name="lastName" class="form-control" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input type="text" name="phone" required class="form-control" placeholder="Phone">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input type="email" name="email" required class="form-control" placeholder="E-mail">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input type="text" name="address" required class="form-control" placeholder="Address">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <textarea rows="4" name="message" class="form-control message-order" placeholder="Message"></textarea>
                <span class="length-text">0/500</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <input type="file" name="files[]" multiple>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group text-right">
                <button type="submit" class="btn btn-send">Send</button>
            </div>
        </div>
    </div>
</form>