{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="title">{% trans %}Contacts{% endtrans %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211689.96527392082!2d-158.0874907205347!3d21.479576849507215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c006704b74dc5fd%3A0xb68b50a4e1d2a215!2z0JzQuNC70LjQu9Cw0L3QuCwg0JPQsNCy0LDQudC4IDk2Nzg5LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1580254387688!5m2!1sru!2sua"
                            width="100%" height="284" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                    <p>PO Box 894761 Mililani, HI 96789</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="contacts">
                    {{ include('modal/modal.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</section>

{% if messageSave == true %}
    <div class="row">
        <div class="modal fade show" id="ignismyModal" role="dialog" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            <img src="/images/Green-Round-Tick.png" alt="">
                            <h1>Thank You!</h1>
                            <p>Your submission is received and we will contact you soon</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}