{% extends 'base.html.twig' %}
{% block title %}Rudenko LLC{% endblock %}
{% block body %}
    <section id="main-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-xs-12 left-side-bar d-none d-lg-block d-xl-block">
                    {% if listAdvertising[0] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[0].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[0].image }}')"></a>
                        </div>
                    {% endif %}
                    {% if listAdvertising[1] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[1].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[1].image }}')"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-md-6 col-xs-12">
                    <div id="carouselExampleIndicators" class="main-carousel carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for index, MainCarusel in listMainCarusel %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}"
                                    class="{% if index == 0 %} active {% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for index, MainCarusel in listMainCarusel %}
                                <div class="carousel-item {% if index == 0 %} active {% endif %}"
                                     style="background-image: url('/uploads/main_carousel/{{ MainCarusel.image }}')">
                                    {% if  MainCarusel.url %}
                                        <a href="{{ MainCarusel.url }}"></a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-xs-12 d-lg-none d-xl-none d-sm-block d-md-block block_submit">
                    <span class="contact-text">
                        <a class="btnBlockRequest" data-toggle="modal" data-target="#blockRequest">Submit your request</a>
                        or call us <a href="tel:+18084898323">808-489-8323</a>
                    </span>
                </div>
                <div class="col-xl-3 col-md-3 col-xs-12 left-side-bar d-lg-none d-xl-none d-sm-block d-md-block">
                    {% if listAdvertising[0] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[0].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[0].image }}')"></a>
                        </div>
                    {% endif %}
                    {% if listAdvertising[1] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[1].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[1].image }}')"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-12 col-md-12 col-xs-12 d-lg-none d-xl-none d-sm-block d-md-block">
                    <span class="contact-text">
                        <a class="btnBlockRequest" data-toggle="modal" data-target="#blockRequest">Submit your request</a>
                        or call us <a href="tel:+18084898323">808-489-8323</a>
                    </span>
                </div>
                <div class="col-xl-3 col-md-3 col-xs-12 right-side-bar">
                    {% if listAdvertising[2] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[2].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[2].image }}')"></a>
                        </div>
                    {% endif %}
                    {% if listAdvertising[3] is  defined %}
                        <div class="card-main">
                            <a href="{{ listAdvertising[3].url }}" class="image-card"
                               style="background-image: url('/uploads/main_upload/{{ listAdvertising[3].image }}')"></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}