{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" id="order-form" action="{{ path('sendJobOffer') }}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="form-group">
                        <img height="250px" width="auto" id="profile-image-view"
                             src="{{ asset('/images/not_persons.jpg') }}"/>
                        <input id="profile-image-upload" required type="file" name="profileImage" class="d-none"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input id="profile-name" type="text" required name="name" class="form-control"
                               placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input id="profile-last-name" type="text" required name="lastName" class="form-control"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input id="profile-phone-number" type="text" required name="phoneNumber" class="form-control"
                               placeholder="Phone number">
                    </div>
                    <div class="form-group">
                        <input id="profile-email" type="email" required name="email" class="form-control"
                               placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input id="profile-social-media-link" type="text" required name="socialMediaLink"
                               class="form-control"
                               placeholder="Social media link">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>Your skills:</h5>
                        <hr>
                    </div>
                    <div class="form-group">
                        <span class="btn btn-send" data-toggle="modal" data-target="#addSkillsModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Add Skills
                        </span>
                    </div>
                    <div class="form-group">
                        <div id="skills-list-block" class="col-lg-12">
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>Driver licence:</h5>
                        <hr>
                    </div>
                    <div class="form-group">
                        <select id="profile-driver-licence" name="driverLicence" required class="form-control">
                            <option>Dont have</option>
                            <option>International</option>
                            <option>Valid US</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>Your own transportation (in Hawaii):</h5>
                        <hr>
                    </div>
                    <div class="form-group">
                        <select name="transport" required class="form-control">
                            <option>I don`t have car</option>
                            <option>I have truck</option>
                            <option>I have regular car</option>
                            <option>I have VAN</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>Your status in US:</h5>
                        <hr>
                    </div>
                    <div class="form-group">
                        <select name="statusInUS" required class="form-control">
                            <option>US citizen</option>
                            <option>US resident (green card holder)</option>
                            <option>I have employment autorization card</option>
                            <option>Not applicable</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>Language what you speak fluently:</h5>
                        <hr>
                    </div>
                    <div class="form-group">
                        <select id="profile-language-speak" name="languageSpeak[]" required class="form-control select2"
                                multiple="true">
                            <option>English</option>
                            <option>Russian</option>
                            <option>Ukrainian</option>
                            <option>Spanish</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h5>You minimum wage to start work with US:</h5>
                        <hr>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <div class="form-group input-group mb-2 mr-sm-2">
                                <input id="profile-week" name="week" type="number" required class="form-control" placeholder="In week">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group input-group mb-2 mr-sm-2">
                                <input id="profile-hour" name="hour" type="number" required class="form-control" placeholder="In hour">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group input-group mb-2 mr-sm-2">
                                <input id="profile-year" name="year" type="number" required class="form-control" placeholder="In year">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="btn btn-primary send-cv">Send</span>
                </div>
            </div>
        </form>
    </div>



    <div class="modal fade" id="addSkillsModal" tabindex="-1" role="dialog" aria-labelledby="addSkillsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Skills</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select id="select-skills" class="form-control" name="skills[]">
                            <option value="0">---</option>
                            <option value="1">Carpenter</option>
                            <option value="2">Painter</option>
                            <option value="3">Plumbing</option>
                            <option value="4">Drywall</option>
                            <option value="5">Tile installation</option>
                            <option value="6">Window installation</option>
                            <option value="7">Door installation</option>
                            <option value="8">Cabinets installation</option>
                            <option value="9">Electrician</option>
                            <option value="10">Garage door repair</option>
                            <option value="11">Appliance repair</option>
                            <option value="12">Screen repair</option>
                            <option value="13">Flooring installation</option>
                        </select>
                    </div>
                    <div id="skills-level" class="d-none">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" data-text="High level (5+ years experience)"
                                   name="skills-level" id="highLevel" value="1">
                            <label class="form-check-label" for="highLevel">
                                High level (5+ years experience)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" data-text="With 2+ years experience"
                                   name="skills-level" id="with" value="3" checked>
                            <label class="form-check-label" for="with">
                                With 2+ years experience
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" data-text="Helper ( can show base knowledge)"
                                   name="skills-level" id="helper" value="2">
                            <label class="form-check-label" for="helper">
                                Helper ( can show base knowledge)
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="add-skills-btn" type="button" class="btn btn-primary">Add skills</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="skillsTmpl" type="text/x-jquery-tmpl">
        <div class="col-lg-6" skills-id="${id}"  style="font-size: 15px; font-weight: 600; margin: 4px 0px;">
        ${skills}/${level}<i class="bi bi-x"></i>
        <svg style="cursor: pointer; color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x remove" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        </div>
        <input type="hidden" name="skills[]" value="${skills}/${level}" />





    </script>
    <script id="messageTmpl" type="text/x-jquery-tmpl">
        <div class="row">
            <div class="modal fade show" id="ignismyModal" role="dialog" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                        </div>

                        <div class="modal-body">

                            <div class="thank-you-pop">
                                <img src="${image}" alt="">
                                <h1>${title}</h1>
                                <p>${message}</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="errorMessageTmpl" type="text/x-jquery-tmpl">
        <div class="error error-message text-danger d-block w-100">${message}</div>
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            function reload() {
                window.location.assign('/');
            }

            function errorField(id) {
                $('#' + id).css('border', '1px solid #e84848');
                $('#errorMessageTmpl').tmpl({message: 'Required field'}).appendTo($('#' + id).parent('.form-group'));
            }

            function successField(id) {
                $(document).find('#' + id).parent('.form-group').find('.error').remove();
                $('#' + id).css('border', '1px solid #ced4da');
            }

            function validateForm() {
                var fieldList = [
                    'profile-name',
                    'profile-last-name',
                    'profile-phone-number',
                    'profile-email',
                    'profile-social-media-link',
                    'profile-language-speak',
                    'profile-week',
                    'profile-hour',
                    'profile-year',
                ];
                $('#order-form .error').remove();
                fieldList.forEach(function (id) {
                    if (!$('#' + id).val() || $('#' + id).val().length == 0) {
                        errorField(id);
                    } else {
                        successField(id);
                    }
                });
                if (!$('#profile-image-upload').val()) {
                    $('#profile-image-view').css('border', '1px solid #ff1a1a')
                } else {
                    $('#profile-image-view').css('border', '1px solid #ced4da')
                }
                if ($('#skills-list-block .row .col-lg-6').length == 0) {
                    $('#errorMessageTmpl').tmpl({message: 'Required field'}).appendTo($('#skills-list-block .row'));

                }
            }

            $('.send-cv').click(function (e) {
                var formData = new FormData();
                formData.append('file', $("#profile-image-upload")[0].files[0]);
                formData.append('data', $('#order-form').serialize());
                $.ajax({
                    url: "/sendJobOffer",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (res) {
                        if (res.status == true) {
                            var dataItems = {
                                title: 'Thank You!',
                                message: 'Your submission is received and we will contact you soon',
                                image: '/images/Green-Round-Tick.png'
                            };
                            setTimeout(reload, 1000);
                            $('#messageTmpl').tmpl(dataItems).appendTo('body');
                        } else {
                            validateForm();
                            if (res.message) {
                                var fieldList = [
                                    'profile-phone-number',
                                    'profile-email'
                                ];
                                $('#order-form .error').remove();
                                fieldList.forEach(function (id) {
                                    $('#' + id).css('border', '1px solid #e84848');
                                    $('#errorMessageTmpl').tmpl({message: res.message}).appendTo($('#' + id).parent('.form-group'));
                                });
                            }
                            // var dataItems = {
                            //     title: 'Error',
                            //     message: 'All fields required',
                            //     image: '/images/Red-Round-Tick.png'
                            // };
                        }
                    }
                });
            });

            $('.js-example-basic-multiple').select2();
            $('.select2').select2({
                placeholder: 'This is my placeholder',
                allowClear: true
            });
            $('#profile-image-view').click(function () {
                $('#profile-image-upload').click()
            })
            $(document).on('change', "#profile-image-upload", function () {
                renderImage(this);
            });

            function renderImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#profile-image-view').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }

            $('#add-skills-btn').click(function () {
                if ($('#select-skills').val() != 0) {
                    $('#select-skills option:selected').attr('disabled', 'disabled');
                    $('#select-skills option:selected').addClass('disabled-option');
                    var skills = $('#select-skills option:selected').text();
                    var level = $('#skills-level input:checked').attr('data-text');
                    var dataItems = {
                        skills: skills,
                        level: level,
                        id: $('#select-skills option:selected').val()
                    };
                    $('#skillsTmpl').tmpl(dataItems).appendTo('#skills-list-block .row');
                    $('#select-skills').val(0);
                    $('#skills-level').addClass('d-none');
                    $('#skills-level').removeClass('d-block');
                    $('#addSkillsModal').modal('hide');
                    $('#skills-list-block .row .error').remove();
                }
            });

            $(document).on('click', '#skills-list-block .row .remove', function () {
                var removeId = parseInt($(this).parents('.col-lg-6').attr('skills-id')) + 1;
                $('#select-skills option:nth-child(' + removeId + ')').removeAttr('disabled');
                $('#select-skills option:nth-child(' + removeId + ')').removeClass('disabled-option');
                $(this).parents('.col-lg-6').remove()
            });

            $('#select-skills').change(function () {
                $('#skills-level input').removeAttr('checked')
                $('#skills-level input:nth-child(1)').click()
                if ($(this).val() != 0) {
                    $('#skills-level').removeClass('d-none');
                    $('#skills-level').addClass('d-block');
                } else {
                    $('#skills-level').addClass('d-none');
                    $('#skills-level').removeClass('d-block');
                }
            });
        });
    </script>
{% endblock %}