{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h1 class="title">{% trans %}Review{% endtrans %}</h1>
                </div>
            </div>
            <div class="block-score">
                <span>Score:</span>
                <span id="count-score">{{ score }}</span>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="contacts">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="feedback">
                                    <span class="text-feedback">Quality of work</span>
                                    <div class="rating">
                                        <input type="radio" name="rating-quality-of-work" id-stars="5" categoty="1"
                                               id="rating-5">
                                        <label for="rating-5"></label>
                                        <input type="radio" name="rating-quality-of-work" id-stars="4" categoty="1"
                                               id="rating-4">
                                        <label for="rating-4"></label>
                                        <input type="radio" name="rating-quality-of-work" id-stars="3" categoty="1"
                                               id="rating-3">
                                        <label for="rating-3"></label>
                                        <input type="radio" name="rating-quality-of-work" id-stars="2" categoty="1"
                                               id="rating-2">
                                        <label for="rating-2"></label>
                                        <input type="radio" name="rating-quality-of-work" id-stars="1" categoty="1"
                                               id="rating-1">
                                        <label for="rating-1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="feedback">
                                    <span class="text-feedback">Schedule</span>
                                    <div class="rating">
                                        <input type="radio" name="rating-schedule" id-stars="5" categoty="2"
                                               id="rating-10">
                                        <label for="rating-10"></label>
                                        <input type="radio" name="rating-schedule" id-stars="4" categoty="2"
                                               id="rating-9">
                                        <label for="rating-9"></label>
                                        <input type="radio" name="rating-schedule" id-stars="3" categoty="2"
                                               id="rating-8">
                                        <label for="rating-8"></label>
                                        <input type="radio" name="rating-schedule" id-stars="2" categoty="2"
                                               id="rating-7">
                                        <label for="rating-7"></label>
                                        <input type="radio" name="rating-schedule" id-stars="1" categoty="2"
                                               id="rating-6">
                                        <label for="rating-6"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="feedback">
                                    <span class="text-feedback">Price</span>
                                    <div class="rating">
                                        <input type="radio" name="rating-price" id-stars="5" categoty="3"
                                               id="rating-15">
                                        <label for="rating-15"></label>
                                        <input type="radio" name="rating-price" id-stars="4" categoty="3"
                                               id="rating-14">
                                        <label for="rating-14"></label>
                                        <input type="radio" name="rating-price" id-stars="3" categoty="3"
                                               id="rating-13">
                                        <label for="rating-13"></label>
                                        <input type="radio" name="rating-price" id-stars="2" categoty="3"
                                               id="rating-12">
                                        <label for="rating-12"></label>
                                        <input type="radio" name="rating-price" id-stars="1" categoty="3"
                                               id="rating-11">
                                        <label for="rating-11"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="feedback">
                                    <span class="text-feedback">Personal quality</span>
                                    <div class="rating">
                                        <input type="radio" name="rating-personal-quality" id-stars="5" categoty="4"
                                               id="rating-20">
                                        <label for="rating-20"></label>
                                        <input type="radio" name="rating-personal-quality" id-stars="4" categoty="4"
                                               id="rating-19">
                                        <label for="rating-19"></label>
                                        <input type="radio" name="rating-personal-quality" id-stars="3" categoty="4"
                                               id="rating-18">
                                        <label for="rating-18"></label>
                                        <input type="radio" name="rating-personal-quality" id-stars="2" categoty="4"
                                               id="rating-17">
                                        <label for="rating-17"></label>
                                        <input type="radio" name="rating-personal-quality" id-stars="1" categoty="4"
                                               id="rating-16">
                                        <label for="rating-16"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="feedback">
                                    <span class="text-feedback">Cleaning</span>
                                    <div class="rating">
                                        <input type="radio" name="rating-cleaning" id-stars="5" categoty="5"
                                               id="rating-25">
                                        <label for="rating-25"></label>
                                        <input type="radio" name="rating-cleaning" id-stars="4" categoty="5"
                                               id="rating-24">
                                        <label for="rating-24"></label>
                                        <input type="radio" name="rating-cleaning" id-stars="3" categoty="5"
                                               id="rating-23">
                                        <label for="rating-23"></label>
                                        <input type="radio" name="rating-cleaning" id-stars="2" categoty="5"
                                               id="rating-22">
                                        <label for="rating-22"></label>
                                        <input type="radio" name="rating-cleaning" id-stars="1" categoty="5"
                                               id="rating-21">
                                        <label for="rating-21"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group text-right">
                                    <input class="form-control" type="email" id="review-email" name="email"
                                           placeholder="E-mail"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group text-right">
                                    <input class="form-control" type="text" id="review-phone" name="phone"
                                           placeholder="Phone"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group text-right">
                                        <textarea rows="7" class="form-control"
                                                  placeholder="How we can do better?" id="review-text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group text-left">
                                    <button type="submit" class="btn btn-send btn-send-reviews">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-xl-12" id="listReviews">
                    {% for review in listReviews %}
                        {% if review.status == true %}
                            <section class="review-view">
                                <span class="raiting-all">{{ (review.qualityOfWork + review.schedule + review.price + review.personalQuality + review.cleaning)/5 }}</span>
                                <span class="phone">{{ review.phone }}</span>
                                <span class="email">{{ review.email }}</span>
                                <div class="review-text">{{ review.description }}</div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}