{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section id="main-page" class="d-none d-sm-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-xs-12">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3 col-xs-12 left-side-bar">
                    {% if listCategory is not null %}
                        <ul id="menu-services">
                            {% for index, category in listCategory %}
                                <li><a name="{{ category.anchor }}" href="#{{ category.anchor }}" services-id="{{ category.id }}"
                                       class="sort-services {% if index == 0 %}active{% endif %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                            <li style="border-top: 20px solid #fff;"><a target="_blank" href="{{ path('review') }}">Review</a>
                            </li>
                            <li><a target="_blank" href="{{ path('contacts') }}">Contact</a></li>
                        </ul>
                    {% endif %}
                </div>
                <div class="col-xl-9 col-md-9 col-xs-12">
                    {% if services is not null %}
                        <img class="image-services-url" src="/uploads/services/{{ services.image }}" width="100%" />

                        <span class="text-center contact-text"><a
                                    data-toggle="modal" data-target="#blockRequest">Submit your request</a> or call us
                                <a href="tel:+18084898323">808-489-8323</a></span>
                        {% if services.description is not null %}
                            <div class="text-services">
                                {{ services.description|raw }}
                            </div>
                        {% endif %}
                        {% if services.price is not null %}
                            <b>Price:</b> <span class="price">${{ services.price }}</span>
                        {% endif %}
                        <br>
                        {% if services.description is not null %}
                            <span class="text-left contact-text"><a
                                        data-toggle="modal" data-target="#blockRequest">Submit your request</a> or call us
                                <a href="tel:+18084898323">808-489-8323</a></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="main-page" class="d-lg-none">

            <div class="col-xl-12 col-md-12 col-xs-12">
                <h1 class="text-center" style="margin-top: 7px">{{ title }}</h1>
            </div>
        <div id="accordion">
            {% for index, category in listCategory %}
            <div class="services">
                <div class="services-header" >
                    <h5 class="mb-0">
                        <button services-id="{{ category.id }}" id="services_{{ index }}" class="btn btn-link sort-services" data-toggle="collapse" data-target="#heading_{{ category.id }}"  aria-controls="heading_{{ category.id }}">
                            {{ category.name }}
                        </button>
                    </h5>
                </div>

                <div id="heading_{{ category.id }}" class="collapse  aria-labelledby="heading_{{ category.id }}" data-parent="#accordion">
                    <div class="services-body">
                        <div class="col-xl-12 col-md-12 col-xs-12">
                            {% if services is not null %}
                               <img class="image-services-url"  src="/uploads/services/{{ services.image }}" width="100%" />

                                <span class="text-center contact-text"><a
                                            data-toggle="modal" data-target="#blockRequest">Submit your request</a> or call us
                                <a href="tel:+18084898323">808-489-8323</a></span>
                                {% if services.description is not null %}
                                    <div class="text-services">
                                        {{ services.description|raw }}
                                    </div>
                                {% endif %}
                                {% if services.price is not null %}
                                    <b>Price:</b> <span class="price">${{ services.price }}</span>
                                {% endif %}
                                <br>
                                {% if services.description is not null %}
                                    <span class="text-left contact-text"><a
                                                data-toggle="modal" data-target="#blockRequest">Submit your request</a> or call us
                                <a href="tel:+18084898323">808-489-8323</a></span>
                                {% endif %}
                            {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% if services is not null %}
        {% if services.description is null %}
            <span class="text-center contact-text"><a
                        data-toggle="modal"
                        data-target="#blockRequest">Submit your request</a> or call us <a href="tel:+18084898323">808-489-8323</a></span>
        {% endif %}
    {% endif %}
{% endblock %}