
body {
    font-family: 'SF Pro Display';
    margin: 0px;
    padding: 0px;
}

a {
    cursor: pointer;
}

a:hover {
    color: #039107;
    text-decoration: none;
}

#footer_header {
    background: url('/images/bg_header.jpg') 50% 50% #020202;
    height: 295px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
    padding: 22px 0px 0px 0px;
}

.text-services{
    font-size:25px;
}

#footer_header #logo {
    color: #fff;
    width: 468px;
    margin: 0px auto 0 auto;
    padding: 25px 20px 25px 164px;
    height: 245px;
    background: url('/images/logo.png') 17px 50% #000 no-repeat;
}

#footer_header #logo #name-company {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

#footer_header #logo #motto-company {
    display: block;
    font-size: 23px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    margin-top: -9px;
    margin-bottom: 11px;
}

#footer_header #logo .logo-menu {
    float: left;
    font-size: 12px;
    margin: 0px;
    padding: 0;
}

#footer_header #logo .logo-menu ul {
    padding: 0px 25px 0px 13px;
    margin: 0px 0px 15px 0px;
}

#footer_header #logo #logo-phone {
    width: 100%;
    display: block;
    padding: 0px 0px 0px 58px;
    font-size: 13px;
    font-style: italic;
    background: url('/images/logo-contacts.png') 31px 50% no-repeat;
    background-size: 17px;
}

#footer_header #logo #logo-phone a {
    color: #fff;
}

#footer_header #logo #logo-phone a:hover {
    color: #039107;
}

#footer_header #logo #logo-web {
    display: block;
    font-size: 25px;
}

#logo-in-menu {
    width: 22px;
    margin-top: -7px;
    margin-left: -51px;
}

span.contact-text {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    color: #1d1d1f;
    text-align: center;
    display: block;
    padding: 5px 0px 5px 0px;
}

span.contact-text a {
    color: #039107;
    cursor: pointer;
}

#menu {
    padding: 0px 0px 0px 0px;
    background: #191919;
    margin: 0px 0px 0px 0px;
}

#menu ul {
    color: #ffffff;
    /*min-height: 45px;*/
    height: 45px;
    margin: 0px auto 0 auto;
    padding: 15px 0px;
}

#menu ul li {
    float: left;
    line-height: 13px;
}

#menu ul a {
    padding: 0px 10px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

#menu ul a:hover {
    color: #039107;
}

#menu ul a.active {
    color: #039107;
}

.main-carousel .carousel-inner .carousel-item {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 671px;
    text-align: center;
}

.carousel-item a {
    width: 100%;
    height: 100%;
    float: left;
}

.left-side-bar {
    padding-right: 0px;
}

.right-side-bar {
    padding-left: 0px;
}

.card-main {
    height: 328px;
    margin-bottom: 15px;
}

.card-main a {
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

hr {
    margin: 0px 0px 0px 0px;
    border: 1px solid #d2d2d7;
}

#footer {
    margin: 15px auto 20px auto;
}

#footer #menu-footer .navbar-nav {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer #menu-footer .navbar-nav a {
    font-size: 14px;
    color: #191919;
    text-decoration: none;
    margin: 0px 19px 0px 0px;

}

#footer #menu-footer .navbar-nav a:hover {
    color: #039107;
}

#footer #icon-social {
    margin-top: 52px;
}

#footer #icon-social a {
    text-decoration: none;
    margin: 0px 9px;
}

#footer .contact-text, .block_submit .contact-text {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 216px;
    display: block;
}

#footer .contact-text .btnBlockRequest, .block_submit .contact-text .btnBlockRequest {
    display: block;
    height: 39px;
    background: url("/images/icon-message.png") #191919 90% 50%;
    background-repeat: no-repeat;
    text-align: left;
    padding: 0px 15px 0px 15px;
    line-height: 40px;
    margin: 18px auto 0 auto;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    background-size: 25px;
    font-size: 15px;
}

#copyright {
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}

.icons-social {
    width: 38px;
    display: inline;
}

.icons-social-hover {
    width: 38px;
    display: none;
}

.request {
    background: #191919;
    padding: 13px 24px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 15px;
    border-radius: 200px;
}

#block-request .request-yelp {
    width: 40px;
    margin: 11px 0px 0px -11px;
    display: none;
}

#block-request .request-facebook {
    width: 40px;
    margin: 22px 0px 0px -14px;
    display: none;
}

#block-request .request-message {
    width: 40px;
    margin: -5px 0px 0px -14px;
    cursor: pointer;
}

.length-text {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: right;
}

.btn-send {
    background: #000;
    color: #fff;
    font-size: 15px;
}

.btn-send:hover {
    color: #039107;
}

#image-order {
    margin: 10px 0px 0px 0px;
}

#image-order img {
    height: 56px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #cecece;
    padding: 0px 5px;
}

#text-services {
    margin-top: 15px;
    margin-bottom: 5px;
}
#main-page #accordion .services-header{
    margin: 0px;
    background: #191919;
    padding: 15px 10px 15px 25px;
    border-bottom: 1px solid #d2d2d7;
}
#main-page #accordion .services-header button{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}
#main-page #accordion .services-header button[aria-expanded="true"]{
    color: #039107;
}
#menu-services {
    padding: 0px;
    margin: 0px;
    background: #191919;
}

.image-services-url{
    margin-bottom: 10px;
}

#menu-services li {
    list-style: none;
    padding: 15px 10px 15px 25px;
    border-bottom: 1px solid #d2d2d7;
}

#menu-services li a {
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

#menu-services li a:hover {
    color: #039107;
}

#main-page h1 {
    margin-bottom: 10px;
    margin-top: -10px;
}

#price {
    color: #039107;
    font-weight: 500;
}

#logo .logo-menu a {
    color: #fff;
    text-decoration: none;
}

#logo .logo-menu a:hover {
    color: #039107;
}

.image-services {
    width: 100%;
    height: 400px;
    background-size: contain;
    /*height: 558px;*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

/**Success***/
.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5C5C5C;
}

.thank-you-pop p {
    font-size: 20px;
    margin-bottom: 27px;
    color: #5C5C5C;
}

.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}

.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}

#ignismyModal .modal-header {
    border: 0px;
}

/*****/

.feedback {
    margin: 5px 0px 5px 0px;
}

.feedback .text-feedback {
    float: left;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 20px 0px 0px;
    width: 140px;
}

.rating, .rating-quality-of-work, .rating-schedule, .rating-price {
    display: flex;
    width: 130px;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.rating > input, .rating-quality-of-work > input, .rating-schedule > input, .rating-price > input {
    display: none;
}

.rating > label, .rating-quality-of-work > label, .rating-schedule > label, .rating-price > label {
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label,
.rating-quality-of-work > input:checked ~ label,
.rating-quality-of-work > input:checked ~ label ~ label,
.rating-schedule > input:checked ~ label,
.rating-schedule > input:checked ~ label ~ label,
.rating-price > input:checked ~ label,
.rating-price > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label,
.rating-quality-of-work > input:not(:checked) ~ label:hover,
.rating-quality-of-work > input:not(:checked) ~ label:hover ~ label,
.rating-schedule > input:not(:checked) ~ label:hover,
.rating-schedule > input:not(:checked) ~ label:hover ~ label,
.rating-price > input:not(:checked) ~ label:hover,
.rating-price > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.review-view:last-child {
    border-bottom: 0px;
}

.review-view {
    border-bottom: 1px solid #d2d2d7;
    padding: 0px 0px 10px 0px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.review-view .phone {
    font-size: 13px;
    font-style: italic;
    color: #1ba2af;
    padding: 0px 15px 0px 0px;
}

.review-view .email {
    font-size: 13px;
    font-style: italic;
    color: #1ba2af;
    padding: 0px 15px 0px 0px;
    display: block;
}

.block-score #count-score{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: 27px;
    padding: 0px 24px 0px 0px;
}

.review-view .raiting-all {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    padding: 0px 0px 0px 22px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0% 50%;
    font-size: 13px;
    font-style: italic;
    text-align: right;
    float: right;
    color: #1ba2af;
}

.review-view .review-text {
    font-size: 16px;
    margin-top: 10px;
}

#menu-services li .active {
    color: #039107;
}

/*#logo-menu-mobile{*/
/*display: none;*/
/*}*/
#logo-menu-mobile {
    z-index: 99;
    color: #fff;
    margin: 0px 12px 0px 14px;
    background: url(/images/logo.png) 17px 50% #000 no-repeat;
    background-size: 19px;
    background-position: 0% 50%;
    padding: 0px 0px 0px 27px;
    font-size: 21px;
    text-transform: uppercase;
}

.block-score {
    font-size: 30px;
}

@media (max-width: 499px) {
    #footer_header #logo {
        color: #fff;
        width: 100%;
        margin: 0px auto 0 auto;
        padding: 25px 20px 15px 100px;
        background: url('/images/logo.png') 17px 50% #000 no-repeat;
        background-size: 65px;
        display: table;
    }

    #footer_header {
        background: url('/images/bg_header.jpg') 50% 50% #020202;
        height: 295px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px 0px 0px 0px;
        padding: 22px 0px 22px 0px;
    }

    #footer_header #logo .logo-menu {
        float: left;
        font-size: 9px;
        margin: 0px;
        padding: 0;
    }

    .card-main {
        height: 270px;
        margin-bottom: 15px;
    }

    .main-carousel .carousel-inner .carousel-item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        height: 250px;
        text-align: center;
    }

    #footer #icon-social {
        margin: 28px 0px;
        text-align: center;
    }

    #menu ul {
        color: #ffffff;
        min-height: 45px;
        margin: 0px auto 0 auto;
        padding: 0px;
        background: #191919;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .image-services {
        width: 100%;
        height: 126px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        margin-top: 15px;
    }

    #header nav#menu {
        position: fixed;
        width: 100%;
    }

    .right-side-bar {
        padding-left: 15px;
    }

    .left-side-bar {
        padding-right: 15px;
    }
}

@media (min-width: 500px) and (max-width: 767.98px) {
    .card-main {
        height: 353px;
        margin-bottom: 15px;
    }

    #header nav#menu {
        position: fixed;
        width: 100%;
    }
    #menu ul {
        color: #ffffff;
        min-height: 45px;
        margin: 0px auto 0 auto;
        padding: 0px;
        background: #191919;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .card-main a {
        width: 100%;
        height: 100%;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .main-carousel .carousel-inner .carousel-item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: 341px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-main {
        height: 132px;
        margin-bottom: 15px;
    }

    #header nav#menu {
        position: fixed;
        width: 100%;
    }
    #menu ul {
        color: #ffffff;
        min-height: 45px;
        margin: 0px auto 0 auto;
        padding: 0px;
        background: #191919;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .card-main a {
        width: 100%;
        height: 100%;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .main-carousel .carousel-inner .carousel-item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: 278px;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    #header nav#menu {
        position: fixed;
        width: 100%;
    }
    #menu ul {
        color: #ffffff;
        min-height: 45px;
        margin: 0px auto 0 auto;
        padding: 0px;
        background: #191919;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .card-main {
        height: 202px;
        margin-bottom: 15px;
    }

    .card-main a {
        width: 100%;
        height: 100%;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .main-carousel .carousel-inner .carousel-item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: 419px;
        text-align: center;
    }
}

@media (min-width: 1200px) and (max-width: 1600.98px) {

    .card-main {
        height: 218px;
        margin-bottom: 15px;
    }

    .card-main a {
        width: 100%;
        height: 100%;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .main-carousel .carousel-inner .carousel-item {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        height: 451px;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    #menu {
        z-index: 99;
    }

    #menu ul a {
        font-size: 22px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        width: 100%;
        float: left;
        margin: 0px 0px 0px 0px;
        padding: 13px 0px 13px 0px;
        border-top: 1px solid #545454;
    }

    #menu ul {
        color: #ffffff;
        min-height: 45px;
        margin: 0px auto 0 auto;
        padding: 0px;
    }

    #block-request .request {
        display: none;
    }
}
.disabled-option{
    background: rgb(170, 170, 170);
    color: #fff;
}