{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
{% set _entity_id = '' ~ attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-show-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'show show-' ~ _entity_config.name|lower %}

{% block content_title %}
    {% apply spaceless %}
        {% set _default_title = 'show.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
        {{ _entity_config.show.title is defined ? _entity_config.show.title|trans(_trans_parameters) : _default_title }}
    {% endapply %}
{% endblock %}

{% block content_footer_wrapper '' %}

{% block main %}
    <div class="form-horizontal">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<img width="200px" src="/job_image_list/{{ entity.image }}" />
			</div>
			<div class="col-lg-9">
				<p><b>Name:</b> {{ entity.name }} {{ entity.lastName }}</p>
				<p><b>Phone number:</b> {{ entity.phoneNumber }}</p>
				<p><b>E-mail:</b> {{ entity.email }}</p>
				<p><b>Social media link:</b> {{ entity.socialMediaLink }}</p>
				<b>Skills:</b>
				<ul>
					{% for skill in entity.skills|split(',') %}
						<li>{{ skill|replace({'["': '', '"]': '', '\\': '', '"': ''}) }}</li>
					{% endfor %}
				</ul>
				<p><b>Driver licence:</b> {{ entity.driverLicence }}</p>
				<p><b>Transport:</b> {{ entity.transport }}</p>
				<p><b>Status in US:</b> {{ entity.statusInUS }}</p>
				<p><b>Language speak:</b> {{ entity.languageSpeak }}</p>
				<b>Minimum wage to start work with US:</b>
				<p>
					<b>In week:</b> ${{ entity.week }} |
					<b>In hour:</b> ${{ entity.hour }} |
					<b>In year:</b> ${{ entity.year }}
				</p>
			</div>
		</div>
	</div>        
    </div>


    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
