<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Metronic Live preview | Keenthemes</title>
    <meta name="description"
          content="Metronic admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="/metronic/plugins/global/plugins.bundle.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/plugins/custom/prismjs/prismjs.bundle.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/css/style.bundle.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/css/themes/layout/header/base/light.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/css/themes/layout/header/menu/light.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/css/themes/layout/brand/dark.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link href="/metronic/css/themes/layout/aside/dark.css?v=7.2.2" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/metronic/media/logos/favicon.ico"/>
</head>
<body id="kt_body"
      class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
<div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
    <a href="/metronic/demo1/index.html">
        <img alt="Logo" src="/images/logo-admin.png"/>
    </a>
    <div class="d-flex align-items-center">
        <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
            <span></span>
        </button>
    </div>
</div>
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
            <div class="brand flex-column-auto" id="kt_brand">
                <a href="/metronic/demo1/index.html" class="brand-logo">
                    <img alt="Logo" src="/images/logo-admin.png"/>
                </a>
                <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
							<span class="svg-icon svg-icon svg-icon-xl">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24"/>
										<path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                                              fill="#000000" fill-rule="nonzero"
                                              transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"/>
										<path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                                              fill="#000000" fill-rule="nonzero" opacity="0.3"
                                              transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)"/>
									</g>
								</svg>
							</span>
                </button>
            </div>
            <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                {{ render(controller(
                    'App\\Controller\\Admin\\MainController::menu'
                )) }}
            </div>
        </div>
        <div class="d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
                <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="text-dark order-2 order-md-1">
                        <span class="text-muted font-weight-bold mr-2">2021©</span>
                        <a href="http://devsweb.site" target="_blank"
                           class="text-dark-75 text-hover-primary">devsweb.site</a>
                    </div>

                    <div class="nav nav-dark">
                        <a href="http://devsweb.site" target="_blank" class="nav-link pl-0 pr-5">About</a>
                        <a href="http://devsweb.site" target="_blank" class="nav-link pl-0 pr-5">Team</a>
                        <a href="http://devsweb.site" target="_blank" class="nav-link pl-0 pr-0">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                     height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24"/>
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1"/>
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
                              fill="#000000" fill-rule="nonzero"/>
					</g>
				</svg>
			</span>
</div>
<script src="{{ asset('/metronic/plugins/global/plugins.bundle.js?v=7.2.2') }}"></script>
<script src="{{ asset('/metronic/plugins/custom/prismjs/prismjs.bundle.js?v=7.2.2') }}"></script>
<script src="{{ asset('/metronic/js/scripts.bundle.js?v=7.2.2') }}"></script>
<script src="{{ asset('/metronic/js/pages/widgets.js?v=7.2.2') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.loadtemplate/1.2.2/jquery.loadTemplate.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% block javascripts %}{% endblock %}

<script>
    var $table = $('#table')
    var $remove = $('#remove')
    var $switch = $('.switch label')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key == 'image') {
                var image = '';
                if (value.length > 0) {
                    value.forEach(function (item, i, arr) {
                        image += '<img style="margin: 10px" height="200" src="/' + item + '" />';
                    });
                }
                html.push('<p><b>' + key + ':</b> ' + image + ' </p>')
            } else {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            }
        })
        return html.join('')
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row))
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    function switchCheckbox(v, data) {
        var status = '';
        if (v === true) {
            status = 'checked="checked"';
        }
        return '<span class="switch switch-outline switch-icon  switch-sm switch-success">\n' +
            '        <label class="mx-auto">\n' +
            '        <input data-type="' + data.type + '" data-id="' + data.id + '" type="checkbox" ' + status + ' name="select">\n' +
            '        <span></span>\n' +
            '        </label>\n' +
            '        </span>';
    }


    $(function () {
        initTable()
        $(document).on('click', '.switch label input', function () {
            var type = $(this).attr('data-type');
            var url = '';
            if (type == 'order') {
                url = '/admin/order/update';
            }
            if (type == 'job') {
                url = '/admin/offer/update';
            }
            if (url.length > 0) {
                var id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: "id=" + id + "&status=" + $(this).prop("checked"),
                    success: function () {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        })
                        $remove.prop('disabled', true)
                    }
                });
            }
        })
        $('#locale').change(initTable)
    })
</script>


<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-modal" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>