<div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1"
     data-menu-dropdown-timeout="500">
    <ul class="menu-nav">
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="#" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon-interface-3 icon-lg"></i>
                </span>
                <span class="menu-text">Services</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="#" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon2-image-file icon-lg"></i>
                </span>
                <span class="menu-text">MainCarousel</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="#" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon-customer icon-lg"></i>
                </span>
                <span class="menu-text">Review</span>
            </a>
        </li>
        <li class="menu-section">
            <h4 class="menu-text">Messages</h4>
            <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="/admin/offer" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon-user-ok icon-lg"></i>
                </span>
                <span class="menu-text">JobOffer</span>
                <span class="menu-label">
					<span class="label label-rounded label-primary">{{ countJobOffer }}</span>
				</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="/admin/order" class="menu-link">
                <span class="svg-icon menu-icon">
                    <i class="flaticon2-tools-and-utensils icon-lg"></i>
                </span>
                <span class="menu-text">Orders</span>
                <span class="menu-label">
					<span class="label label-rounded label-primary">{{ countOrders }}</span>
				</span>
            </a>
        </li>
        <li class="menu-section">
            <h4 class="menu-text">Settings</h4>
            <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="#" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon2-user-1 icon-lg"></i>
                </span>
                <span class="menu-text">Users</span>
            </a>
        </li>
        <li class="menu-item menu-item-active" aria-haspopup="true">
            <a href="/admin/black/list" class="menu-link">
                <span class="svg-icon menu-icon">
                     <i class="flaticon-email icon-lg"></i>
                </span>
                <span class="menu-text">BlackList Emails</span>
            </a>
        </li>
    </ul>
</div>