<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNW8XDX');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rudenko LLC{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/font/SFPro/stylesheet.css">
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNW8XDX"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header id="header">
     <nav id="menu" class="navbar navbar-expand-xl navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <span id="logo-menu-mobile" class="d-lg-none d-xl-none d-sm-block d-md-block">Rudenko LLC</span>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% block main_menu %}
            <ul class="navbar-nav">
                <li>
                    <img id="logo-in-menu" src="/images/construction.png">
                </li>
                <li>
                    <a {% if app.request.requestUri == '/' %}class="active"{% endif %} href="{{ path('index') }}">Main</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/handymen' %}class="active"{% endif %}  href="{{ path('handymen') }}">Handymen</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/siding-hardbord' %}class="active"{% endif %}  href="{{ path('sidingHardbord') }}">Siding & Hardbord</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/roofing-gutters' %}class="active"{% endif %}  href="{{ path('roofingGutters') }}">Roofing & Gutters</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/doors-windows' %}class="active"{% endif %}  href="{{ path('doorsWindows') }}">Doors & Windows</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/powerwash' %}class="active"{% endif %}  href="{{ path('powerwash') }}">Powerwash</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/design' %}class="active"{% endif %}  href="{{ path('design') }}">Design</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/job' %}class="active"{% endif %} style="color:red" href="{{ path('job') }}">Job</a>
                </li>
                <li>
                    <a {% if app.request.requestUri == '/contacts' %}class="active"{% endif %}  href="{{ path('contacts') }}">Contacts</a>
                </li>
            </ul>
            {% endblock %}
        </div>
    </nav>
    <span style="padding: 11px 0px 16px 0px;" class="contact-text"><a data-toggle="modal" data-target="#blockRequest">Submit your request</a> or call us <a href="tel:+18084898323">808-489-8323</a></span>
</header>
{% block body %}{% endblock %}
<footer id="footer">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-xl-4 col-md-4 col-xs-12">
                <div id="menu-footer">
                    <ul class="navbar-nav">
                        <li>
                            <a href="{{ path('index') }}">Main</a>
                        </li>
                        <li>
                            <a href="{{ path('handymen') }}">Handymen</a>
                        </li>
                        <li>
                            <a href="{{ path('sidingHardbord') }}">Siding & Hardbord</a>
                        </li>
                        <li>
                            <a href="{{ path('roofingGutters') }}">Roofing & Gutters</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li>
                            <a href="{{ path('doorsWindows') }}">Doors & Windows</a>
                        </li>
                        <li>
                            <a href="{{ path('powerwash') }}">Powerwash</a>
                        </li>
                        <li>
                            <a href="{{ path('design') }}">Design</a>
                        </li>
                        <li>
                            <a href="{{ path('contacts') }}">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-xs-12">
                <span class="contact-text">
                    <a class="btnBlockRequest" data-toggle="modal" data-target="#blockRequest">Submit your request</a>
                    or call us <a href="tel:+18084898323">808-489-8323</a>
                </span>
            </div>
            <div class="col-xl-4 col-md-4 col-xs-12 text-right">
                <div id="icon-social">
                    <a target="_blank" href="https://www.yelp.com/biz/rudenko-mililani-3?uid=iNNWBrutgXOXqwvN-9Ll0g&utm_source=ishare">
                        <img class="icons-social" src="images/yelp_hover.png"/>
                        {#<img class="icons-social-hover" src="images/yelp_hover.png"/>#}
                    </a>
                    <a target="_blank" href="https://www.facebook.com/ivan.rudenko.1656">
                        <img class="icons-social" src="images/facebook_hover.png"/>
                        {#<img class="icons-social-hover" src="images/facebook_hover.png"/>#}
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</footer>
<div id="footer_header">
    <div id="logo">
        <span id="name-company">Rudenko LLC</span>
        <span id="motto-company">HANDYMAN</span>
        <div class="logo-menu">
            <ul>
                <li><a>Siding</a></li>
                <li><a>Roofing</a></li>
                <li><a>Painting</a></li>
            </ul>
        </div>
        <div class="logo-menu">
            <ul>
                <li><a>Doors</a></li>
                <li><a>Windows</a></li>
                <li><a>Tiles</a></li>
            </ul>
        </div>
        <div class="logo-menu">
            <ul>
                <li><a>Customizing</a></li>
                <li><a>Drywall</a></li>
                <li><a>Power washing</a></li>
            </ul>
        </div>
        <span id="logo-web">www.808.construction</span>
        <span id="logo-phone"><a href="tel:+18084898323">808 • 489 • 8323</a></span>
    </div>
</div>
<div id="block-request">
    <div class="request">
        <a target="_blank" href="https://www.yelp.com/biz/rudenko-mililani-3?uid=iNNWBrutgXOXqwvN-9Ll0g&utm_source=ishare">
            <img class="request-yelp" src="/images/yelp_hover.png"/>
        </a>
        <a target="_blank" href="https://www.facebook.com/ivan.rudenko.1656">
            <img class="request-facebook"   src="/images/facebook_hover.png"/>
        </a>
        <a data-toggle="modal" data-target="#blockRequest"><img class="request-message" src="/images/icon-message.png"/></a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="blockRequest" tabindex="-1" role="dialog" aria-labelledby="blockRequestLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="order-form" action="{{ path('saveContacts') }}" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="blockRequestLabel">Submit your request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" name="firstName" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" name="lastName" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" name="phone" required class="form-control" placeholder="Phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="email" name="email" required class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" name="address" required class="form-control" placeholder="Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea rows="4" name="message" class="form-control message-order" placeholder="Message"></textarea>
                                <span class="length-text">0/500</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="file" id="fileUpload" name="files[]" multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-send">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="prev_url" value="{{ app.request.requestUri }}">
            </form>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="/js/jquery.tmpl.js"></script>
{% endblock %}
</body>
</html>