{% extends 'admin.html.twig' %}
{% block body %}
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Black List</h3>
            </div>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" id="add-black-list">
                Add
            </button>
            <hr>
            <table class="table mb-5">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pattern</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in blackList %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.pattern }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.getCreatedAt()|date("Y-m-d") }}</td>
                        <td>
                            <a class="edit-form btn btn-sm btn-clean btn-icon mr-2" item-id="{{ item.id }}" item-pattern="{{ item.pattern }}" title="Edit details">
                                <span class="svg-icon svg-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                         viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path
                                                    d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                    fill="#000000" fill-rule="nonzero"
                                                    transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                            </path>
                                            <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2"
                                                  rx="1"></rect>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                            <a class="delete-form btn btn-sm btn-clean btn-icon" item-id="{{ item.id }}" title="Delete">
                                <span class="svg-icon svg-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/html" id="template">
        <form>
            <input type="text" name="pattern" data-template-bind='[{"attribute": "value", "value": "pattern"}]' class="form-control" placeholder="Pattern"/>
            <input type="hidden"  data-template-bind='[{"attribute": "value", "value": "id"}]' name="id"/>
        </form>
    </script>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '#add-black-list, .edit-form', function () {
                    var id = $(this).attr('item-id');
                    var pattern = $(this).attr('item-pattern');
                    $("#formModal .modal-body").loadTemplate($("#template"),  { pattern: pattern, id: id});
                    $('#formModal .modal-header h5').text('Black List')
                    $('#formModal').modal('show');
                });
                $(document).on('click', '.delete-form', function () {
                    var id = $(this).attr('item-id');
                    var object = $(this).parents('tr');
                    $.ajax({
                        type: "POST",
                        url: "/admin/black/list/save",
                        data: "id="+id+"&type=delete",
                        success: function () {
                            object.remove()
                        }
                    });
                });
                $(document).on('click', '#formModal #save-modal', function () {
                    var form = $(this).parents('#formModal').find('form');
                    $.ajax({
                        type: "POST",
                        url: "/admin/black/list/save",
                        data: form.serialize(),
                        success: function () {
                            document.location.reload();
                        }
                    });
                });
            })
        </script>
    {% endblock %}
{% endblock %}