{% extends 'admin.html.twig' %}
{% block body %}
    <div class="card card-custom">
        <div class="card-body">
            <h1>Offer List</h1>
            <div>
                <button id="remove" class="btn btn-danger" disabled>
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
            <table
                    id="table"
                    data-toolbar="#toolbar"
                    data-search="false"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-fullscreen="false"
                    data-show-columns="false"
                    data-locale="en-US"
                    data-show-columns-toggle-all="false"
                    data-detail-view="true"
                    data-show-export="false"
                    data-click-to-select="true"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="false"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 50, 100, all]"
                    data-show-footer="false"
                    data-side-pagination="server"
                    data-url="/admin/offer/list"
                    data-response-handler="responseHandler">
            </table>
        </div>
    </div>

    <script>
        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                        rowspan: 1,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'ID',
                        field: 'id',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                    }, {
                        field: 'name',
                        title: 'name',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'lastName',
                        title: 'lastName',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'phone',
                        title: 'phone',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'email',
                        title: 'email',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'status',
                        title: 'createdAt',
                        sortable: false,
                        align: 'center',
                        formatter: switchCheckbox
                    }],
                    []
                ]
            })
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                })
            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            })
            $remove.click(function () {
                var ids = getIdSelections()
                $.ajax({
                    type: "POST",
                    url: "/admin/offer/remove",
                    data: "ids="+ids,
                    success: function () {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        })
                        $remove.prop('disabled', true)
                    }
                });
            })
        }
    </script>
{% endblock %}









