{% extends 'admin.html.twig' %}
{% block body %}
    <div class="card card-custom">
        <div class="card-body">
        <h1>Order List</h1>
        <div>
            <button id="remove" class="btn btn-danger" disabled>
                <i class="fa fa-trash"></i> Delete
            </button>
        </div>
        <table
                id="table"
                data-toolbar="#toolbar"
                data-search="false"
                data-show-refresh="false"
                data-show-toggle="false"
                data-show-fullscreen="false"
                data-show-columns="false"
                data-locale="en-US"
                data-show-columns-toggle-all="false"
                data-detail-view="true"
                data-show-export="false"
                data-click-to-select="true"
                data-detail-formatter="detailFormatter"
                data-minimum-count-columns="2"
                data-show-pagination-switch="false"
                data-pagination="true"
                data-id-field="id"
                data-page-list="[10, 50, 100, all]"
                data-show-footer="false"
                data-side-pagination="server"
                data-url="/admin/order/list"
                data-response-handler="responseHandler">
        </table>
    </div>
    </div>

    <script>
        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                        rowspan: 1,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'ID',
                        field: 'id',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                    }, {
                        field: 'firstName',
                        title: 'FirstName',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'LastName',
                        title: 'LastName',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'phone',
                        title: 'Phone',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'address',
                        title: 'Address',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'email',
                        title: 'Email',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'status',
                        title: 'Status',
                        sortable: false,
                        align: 'center',
                        formatter: switchCheckbox
                    }],
                    []
                ]
            })
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                })
            // $table.on('all.bs.table', function (e, name, args) {
            //     // console.log(name, args)
            //     console.log($('.switch label input'))
            // })
            $remove.click(function () {
                var ids = getIdSelections()
                $.ajax({
                    type: "POST",
                    url: "/admin/order/remove",
                    data: "ids="+ids,
                    success: function () {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        })
                        $remove.prop('disabled', true)
                    }
                });
            })
        }

    </script>
{% endblock %}









